.chart-container {
    width: 800px;
    height: 800px
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}
@font-face {
    
}
h1 , h2 {
    font-family: Raleway;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    color: #04668C;
    ;
}